.nagivation-bar {
    position: relative;

    .MuiBox-root {
        a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    &-logo{
        font-size: 20px;
        cursor: pointer;
        user-select: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}