.app {
    &-heading {
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    &-subtitle {
        background-color: green($color: #000000);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: #00000071;
    }
}