* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.main-app{
 background-color: rgb(255, 255, 255)
}

.MuiToolbar-root{
  display: flex;
  justify-content: space-between;
}

a {
  width:auto ;
  text-decoration: none;
  color: inherit;
}